<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Board</a>
    </div>
</nav>
  
<div class="container" cdkDropListGroup>
    <div class="row m-2">
        <div class="col-md-4">
            <h3 class="text-center">Todo</h3>
                <div class="container" class="p-2 m-1" style="background-color: blue; height: 400px;
                overflow-y: scroll;"
                    cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="todo"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of todo" cdkDrag>
                        {{item.title}}
                        <span>
                            <i class="fa fa-edit m-2" style="font-size:48px; font-size:14px; color:green; cursor: pointer;" (click)="editNote(item)"></i>
                            <i class="fa fa-trash m-1" style="color:red; cursor: pointer;" (click)="deleteTodo(item.id, 'todo')" ></i>
                        </span>
                        
                    </div>
                </div>
        </div>
        <div class="col-md-4">
            <h3 class="text-center">Back Log</h3>
                    <div class="container" class="p-2 m-1" style="background-color: red; height: 400px;
                overflow-y: scroll;"
                    cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="done"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of done" cdkDrag>
                        {{item.title}}
                        <span>
                            <i class="fa fa-edit m-2" style="font-size:48px; font-size:14px; color:green; cursor: pointer;" (click)="editNote(item)"></i>
                            <i class="fa fa-trash m-1" (click)="deleteTodo(item.id, 'done')" style="color:red; cursor: pointer;" ></i>
                        </span>
                    </div>
                </div>
        </div>
        <div class="col-md-4">
            <h3 class="text-center">In Progress</h3>

                    <div class="container" class="p-2 m-1" style="background-color: greenyellow; height: 400px;
                overflow-y: scroll;"
                    cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="inprogress"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of inprogress" cdkDrag>
                        {{item.title}}
                        <span>
                            <i class="fa fa-edit m-2" style="font-size:48px; font-size:14px; color:green; cursor: pointer;" (click)="editNote(item)"></i>
                            <i class="fa fa-trash m-1" (click)="deleteTodo(item.id, 'inprogress')" style="color:red; cursor: pointer;" ></i>
                        </span>
                    </div>
                </div>
        </div>
        <div class="text-center mt-2">
            <button (click)="addNote()" class="btn btn-primary ">Add Todo</button>
        </div>
    </div>
</div>
